
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'GlacialIndifference';
  src: url('/font/GlacialIndifference-Bold.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes slide {
  to{
      transform: translateX(0%);
  }from{
     transform: translate(-100%);
  } 
  
}

@layer utilities {
  .text-shadow {
    text-shadow: 0px 0px 10px rgba(0, 0, 0,1);
  }
}
@layer utilities {
  .text-shadow-inv{
    text-shadow: 0px 0px 10px rgba(0, 0, 0,0);
  }
}
*{
  scroll-behavior: smooth;
}
.scrollingContent{
   animation: slide 20s linear 0 infinite ;
}
.userdp{
  background-image: url('/userdp.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.employeedp{
  background-image: url('/employeedp.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.hovCon{
  color: rgba(0,0,0,0);
}

.hovCon:hover{
  color: rgba(255,255,255,1);
}
.scrollingContent{
  background-size: contain;
  color: rgba(24, 55, 93, 1);
}
@media(max-width:768px){
  .scrollingContent{
    background-size: cover;
    color:rgba(24, 55, 93, 0)
  }
}
body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #bbd7f47a;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}
.yus::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

.yus::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

.yus::-webkit-scrollbar-thumb {
  background-color: #bbd7f47a;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}


